.allLogin {
  display: table;
  width: 100%;
  height: 100vh;
  /* padding: 100px 0; */
  color: white;
  background-color: #6141AC;
}

.allPageLogin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-login {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100%;
  max-width: 650px;
  max-height: 380px;

  background: #F1F6E1;
  box-shadow: 0px 0px 26px rgba(68, 73, 85, 0.2);
  border-radius: 20px;
}

.inputText {
  box-sizing: border-box;
  height: 90%;
  max-height: 40px;
  max-width: 400px;
  width: 90%;
  border: 1px solid #003be5;
  border-radius: 100px;
  display: flex;
  text-align: center;
}

.loginButton {
  color: white;
  width: 90%;
  max-width: 400px;
  height: 90%;
  max-height: 40px;
  background: #003be5;
  border-radius: 100px;
  font-size: 18px;
}

.loginImg {
  width: 300px; 
  height: 230px;
}