html {
  background: #EFF3F9;
}

.page-search {
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  height: 100vh;
  width: 100%;
  /* max-width: 1030px; */
  max-height: 220px;
  left: 250px;
  top: 0px;
  background-color: #6141AC;
}


.inputSearch {
  padding: 15px;
  color: white;
  max-width: 400px;
  max-height: 40px;
  background: white;
  border-radius: 23px;
  margin-right: 5vh;
  color: black;
}

.inputSearch::placeholder {
  color: #6141AC;
}

.inputButtonSearch {
  width: 130px;
  color: white;
  max-width: 114px;
  max-height: 40px;
  background: black;
  border-radius: 23px;
}

.inputButtonSearch:hover {
  cursor: pointer;
  opacity: 0.9;
}

.eachCard {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.searchAlbums {
  max-width: 100%;
   display: grid; 
  grid-template-columns: repeat(3, 200px);
  gap: 50px;
  position: absolute;
  left: 70vh;
  top: 40vh;
  background: #EFF3F9;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.cardImg {
  height: 200px;
  width: 200px;
}


.pResults {
  position: absolute;
  width: 337.2px;
  height: 24.89px;
  top: 37vh;
  right: 60vh;
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

   color: #003BE5;
}

.collectionId {
  color: #3D495C;
  font-size: 20px;
  text-transform: none;
}

a:hover {
  text-decoration: none;
}

.allArtistCard {
  list-style: none;
}

@media (max-width: 760px) { 
  .page-search {
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    height: 100vh;
    width: 100%;
    /* max-width: 1030px; */
    max-height: 220px;
    left: 180px;
    top: 0px;
  }

  .searchAlbums {
  max-width: 100%;
   display: grid; 
  grid-template-columns: repeat(2, 200px);
  gap: 50px;
  position: absolute;
  left: 40vh;
  top: 40vh;
  background: #EFF3F9;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.cardImg {
  height: 100px;
  width: 100px;
}

.inputSearch {
  padding: 15px;
  color: white;
  max-width: 200px;
  max-height: 40px;
  border-radius: 23px;
  margin-right: 5vh;
}

.collectionId {
  color: #3D495C;
  font-size: 13px;
  text-transform: none;
}

.allArtistCard {
  list-style: none;
  font-size: 12px;
}


}